{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1>Task Master</h1>
    <table border="1px">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> {{ task.text }}</td>
            <td> {{  task.date.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
        </table>
</div>
<div class="container">
    <form action="/" method="POST">
        <input type="text" name="task" id="content">
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}